@media screen and (max-width: 575px) {
  .header > section:nth-of-type(1) {
    height: 25vh;
  }

  .header > section:nth-of-type(1) > section:nth-of-type(2) {
    height: 25vh;
  }

  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul {
    height: 100%;
    flex-direction: column;
  }
  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul > li {
    margin-left: 60px;
  }

  .header
    > section:nth-of-type(1)
    > section:nth-of-type(2)
    > ul
    > li:last-child {
    order: -1;
  }

  .header > section:nth-of-type(2) > h2 {
    font-size: 7vw;
  }
  .header > section:nth-of-type(2) > p {
    font-size: 3.3vw;
  }
  .btn {
    font-size: 16px;
    padding: 5px 7px;
  }
  /* main----------------------------------------- */
  .services > section:nth-of-type(2) {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 90%;
    margin-bottom: 10px;
  }

  .services > section:nth-of-type(1) > h2 {
    font-size: 2rem;
  }
  .services > section:nth-of-type(1) > p {
    font-size: 1rem;
  }
  .about > section:nth-of-type(1) > h2 {
    font-size: 35px;
  }
  .about > section:nth-of-type(1) > p {
    font-size: 15px;
  }
  .about > section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
  }

  .box-profile {
    width: 48%;
    margin-bottom: 20px;
  }

  .about > section:nth-of-type(3) > p {
    font-size: 17px;
    text-align: justify;
  }

  .contact > section:nth-of-type(1) > h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .contact > section:nth-of-type(1) > p {
    font-size: 15px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 70%;
  }

  .footer > ul {
    flex-direction: column;
  }
}

@media screen and (min-width: 576px) {
  .header > section:nth-of-type(1) {
    height: 25vh;
  }

  .header > section:nth-of-type(1) > section:nth-of-type(2) {
    height: 25vh;
  }

  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul {
    height: 100%;
    flex-direction: column;
  }
  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul > li {
    margin-left: 60px;
  }

  .header
    > section:nth-of-type(1)
    > section:nth-of-type(2)
    > ul
    > li:last-child {
    order: -1;
  }

  .header > section:nth-of-type(2) > h2 {
    font-size: 7vw;
  }
  .header > section:nth-of-type(2) > p {
    font-size: 3.3vw;
  }

  /* main----------------------------------------- */
  .services > section:nth-of-type(2) {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 400px;
    margin-bottom: 10px;
  }
  .services > section:nth-of-type(1) > h2 {
    font-size: 2rem;
  }
  .services > section:nth-of-type(1) > p {
    font-size: 1rem;
  }

  .about > section:nth-of-type(1) > h2 {
    font-size: 35px;
  }
  .about > section:nth-of-type(1) > p {
    font-size: 15px;
  }
  .about > section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
  }

  .box-profile {
    width: 48%;
    margin-bottom: 20px;
  }

  .about > section:nth-of-type(3) > p {
    font-size: 17px;
    text-align: justify;
  }
  .contact > section:nth-of-type(1) > h2 {
    font-size: 30px;
    margin-bottom: 16px;
  }

  .contact > section:nth-of-type(1) > p {
    font-size: 15px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    width: 70%;
  }

  .footer > ul {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  /* main----------------------------------------- */
  .services > section:nth-of-type(2) {
    flex-direction: row;
    align-items: center;
  }

  .box {
    width: 250px;
  }

  .box-profile {
    width: 35%;
    margin-bottom: 20px;
  }

  .about > section:nth-of-type(3) > p {
    font-size: 17px;
    text-align: center;
  }

  .contact > section:nth-of-type(1) > h2 {
    font-size: 40px;
    margin-bottom: 16px;
  }

  .contact > section:nth-of-type(1) > p {
    font-size: 20px;
  }

  .contact > section:nth-of-type(2) > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="text"],
  input[type="email"] {
    width: 50%;
  }
  textarea {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul {
    height: 100%;
    flex-direction: row;
  }

  .header > section:nth-of-type(1) > section:nth-of-type(2) > ul > li {
    margin-left: 0;
  }

  .header
    > section:nth-of-type(1)
    > section:nth-of-type(2)
    > ul
    > li:last-child {
    order: 0;
  }

  .header > section:nth-of-type(2) > h2 {
    font-size: 4vw !important;
  }
  .header > section:nth-of-type(2) > p {
    font-size: 2vw;
  }
  /* main-------------------------------------- */
  .box {
    width: calc(calc(100% / 3) - 40px);
  }

  .services > section:nth-of-type(1) > h2 {
    font-size: 3rem;
  }
  .services > section:nth-of-type(1) > p {
    font-size: 1.4rem;
  }

  .box-profile {
    width: 20%;
    margin-bottom: 20px;
  }

  .contact > section:nth-of-type(1) > h2 {
    font-size: 50px;
    margin-bottom: 22px;
  }

  .contact > section:nth-of-type(1) > p {
    font-size: 20px;
  }

  input[type="text"],
  input[type="email"] {
    width: 400px;
  }
  textarea {
    width: 400px;
  }

  .footer > ul {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .box-profile {
    width: 15%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .header > section:nth-of-type(2) > h2 {
    font-size: 5vw !important;
  }
  /* main-------------------------------------- */
  .box {
    width: 450px;
  }
}
